@import '../../styles/base';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 25px;

  @include desktop {
    display: none;
  }
}

.header__menu-wrapper {
  padding: 40px 30px;
  position: fixed;
  inset: 0px;
  background: rgba(28, 32, 57, 0.95);
  display: flex;
  flex-direction: column;
}

.header__navbar {
  display: flex;
  flex-direction: column;
}

.header__image-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.header__navbar-item {
  color: $colorWhite;
  font-size: 18px;
  letter-spacing: 3px;
  text-transform: uppercase;
  height: 80px;
  background: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid $colorDarkGray;
  border-top: none;

  &:first-child {
    border-top: 1px solid $colorDarkGray;
  }

  &:hover {
    color: $colorRed;
  }
}

.header__navbar-login {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 350px;
  height: 60px;
  background: none;
  color: $colorWhite;
  border: 2px solid $colorWhite;
  border-radius: 5px;
}

.header__close-button {
  cursor: pointer;
  background: none;
  border: 0;
}

.header__navbar-login {
  cursor: pointer;
}

.header__social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}



