@import '../../styles/base';

.button {
  cursor: pointer;
  width: auto;
  padding: 15px 20px;
  border: none;
  border-radius: 5px;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  box-shadow: 0 8px 8px rgba(73, 93, 207, 0.2);
}

.button--primary {
  background-color: $colorBlue;
  color: $colorWhite;

  &:hover {
    background: none;
    box-shadow: inset 0 0 0 2px $colorBlue;
    color: $colorBlue;
  }
}

.button--secondary {
  background-color: #f7f7f7;
  
  &:hover {
    background: $colorWhite;
    box-shadow: inset 0 0 0 2px #000;
  }  
}

.button--error {
  background-color: $colorRed;
  color: $colorWhite;

  &:hover {
    background: $colorWhite;
    box-shadow: inset 0 0 0 2px $colorRed;
    color: $colorRed;
  }
}