@import '../../styles/base';

.text {
  max-width: 575px;
  font-size: 18px;
  color: $colorGray;
  padding: 30px 0;
}

.text--left {
  text-align: left;
}

.text--center {
  text-align: center;
}

.text--right {
  text-align: right;
}
