@import '../../styles/base';

.newsletter {
  padding: 70px 25px;
  margin-top: 100px;
  background: rgb(82, 102, 223);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.newsletter__text {
  color: white;
  letter-spacing: 3px;
}

.newsletter__button-wrapper {
  width: 100%;
  margin-top: 70px;

  @include desktop {
    display: flex;
    align-items: center;
    width: 550px;
  }
}

.newsletter__button {
  width: 100%;
  margin-top: 20px;

  @include desktop {
    margin-top: 0;
    width: 200px;
    margin-left: 10px;
  }
}
