.card {
  width: 300px;
  height: 370px;
  margin: 0 20px 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  box-shadow: 0 8px 8px rgba(73, 93, 207, 0.2);
}

.card__image {
  margin: 50px 0 30px 0;
}

.card__description {
  width: 100%;
  text-align: center;
  color: #9194a1;
  padding: 10px 0 30px 0;
  border-bottom: 3px dotted rgba(73, 93, 207, 0.2);
  margin-bottom: 30px;
}

.card__button {
  width: 250px;
}