@import '../../styles/base';

.header-desktop {
  display: none;

  @include desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 25px;
  }
}

.header-desktop__components {
  cursor: default;
}

.header-desktop__navbar-item {
  margin: 0 15px;
  border: none;
  background: none;
  text-transform: uppercase;
  color: $colorGray;
  font-size: 14px;
  font-weight: 600;

  &:hover {
    color: $colorRed;
  }
}


