@import '../../styles/base';

.subtitle {
  font-size: 32px;
}

.subtitle--left {
  text-align: left;
}

.subtitle--right {
  text-align: right;
}

.subtitle--center {
  text-align: center;
}

.subtitle--white {
  color: $colorWhite;
  font-size: 26px;
}