.subtitle {
  font-size: 2rem;
}

.subtitle--left {
  text-align: left;
}

.subtitle--right {
  text-align: right;
}

.subtitle--center {
  text-align: center;
}

.subtitle--white {
  color: white;
  font-size: 26px;
}