@import '../../styles/base';

.featureThree {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;

  @include desktop {
    flex-direction: row;

    .featureThree__text-wrapper {
      padding-left: 100px;
    }
  }
}

.featureThree__image {
  max-width: 100%;
  padding-bottom: 30px;
}

.featureThree__text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

